@charset "UTF-8";
.container {
  margin: 0 auto;
  width: 85%;
  max-width: 80em; }

.row {
  display: block;
  clear: both;
  margin: 0 -1em;
  width: auto;
  overflow: hidden;
  *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }
  .row.half-gutter .col {
    padding: 0 0.5em; }
  .row.collapse {
    margin: 0; }
    .row.collapse .col {
      padding: 0; }

.col {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .col.centered {
    float: none;
    margin: 0 auto; }

.one {
  width: 8.33333%; }

.two {
  width: 16.66667%; }

.three {
  width: 25%; }

.four {
  width: 33.33333%; }

.five {
  width: 41.66667%; }

.six {
  width: 50%; }

.seven {
  width: 58.33333%; }

.eight {
  width: 66.66667%; }

.nine {
  width: 75%; }

.ten {
  width: 83.33333%; }

.eleven {
  width: 91.66667%; }

.twelve {
  width: 100%; }

.offset-1 {
  margin-left: 8.33333%; }

.push-1 {
  left: 8.33333%; }

.pull-1 {
  right: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.push-2 {
  left: 16.66667%; }

.pull-2 {
  right: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.push-3 {
  left: 25%; }

.pull-3 {
  right: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.push-4 {
  left: 33.33333%; }

.pull-4 {
  right: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.push-5 {
  left: 41.66667%; }

.pull-5 {
  right: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.push-6 {
  left: 50%; }

.pull-6 {
  right: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.push-7 {
  left: 58.33333%; }

.pull-7 {
  right: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.push-8 {
  left: 66.66667%; }

.pull-8 {
  right: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.push-9 {
  left: 75%; }

.pull-9 {
  right: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.push-10 {
  left: 83.33333%; }

.pull-10 {
  right: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.push-11 {
  left: 91.66667%; }

.pull-11 {
  right: 91.66667%; }

@media screen and (max-width: 48em) {
  .col {
    float: none;
    width: 100%; }

  [class*="offset"] {
    margin-left: 0; }

  [class*="push"] {
    left: auto; }

  [class*="pull"] {
    right: auto; } }
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 100.01%;
  line-height: 1.5em; }

h1 {
  text-align: center;
  text-shadow: 1px 1px 1px #ccc; }

h2, h3, h4 {
  margin: 0 0 0.5em; }

.row, .extended-row {
  border-bottom: solid 1px #ccc;
  padding: 2em 0; }
  .row .row, .extended-row .row {
    padding: 0; }
  .row:last-child, .extended-row:last-child {
    border-bottom: none; }

.extended-row {
  display: block;
  clear: both;
  margin: 0 -1em;
  width: auto;
  overflow: hidden;
  *zoom: 1; }
  .extended-row:before, .extended-row:after {
    content: "";
    display: table; }
  .extended-row:after {
    clear: both; }

.extended-col.first {
  display: block;
  position: relative;
  left: 50%;
  float: left;
  width: 25%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 48em) {
    .extended-col.first {
      float: none;
      width: 100%;
      left: auto; } }
.extended-col.middle {
  display: block;
  position: relative;
  right: 25%;
  float: left;
  width: 50%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 48em) {
    .extended-col.middle {
      float: none;
      width: 100%;
      right: auto; } }
.extended-col.last {
  display: block;
  position: relative;
  float: left;
  width: 25%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 48em) {
    .extended-col.last {
      float: none;
      width: 100%; } }

@media screen and (min-width: 80em) {
  body {
    font-size: 1.25em; } }
@media screen and (max-width: 30em) {
  body {
    font-size: 0.875em; } }
