@charset "UTF-8";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

@import "grid-it";

// Golden font sizes
// 9, 10, 14, 17, 23, 27, 37, 44
$ms: 0.618 0.742 1 1.201 1.618 1.942 2.618 3.143;
@function ms($i: 0) {
    @return nth($ms, ($i+3)) * 1em;
}

body {
    font: 87.5%/1.5 "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em;
    line-height: 1.1;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    color: #369;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: ms(6 - $i);
    }
}

header {
    border-bottom: solid 2px #3cc;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    background-color: #369;

    hgroup {
        padding: 3em 0;
    }

    h1, h5 {
        color: #fff;
        margin: 0;
    }

    .row {
        padding: 0;
    }
}

section {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
}

footer {
    text-align: center;
    font-size: 0.625em;
    padding: 1em 0;
    color: #fff;
    background-color: #369;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3cc;
    margin: 1em 0;
    padding: 0;
}

.dark {
    min-height: 2em;
    color: #fff;
    background-color: #306;
}

p {
    margin: 1em 0;
}

.row {
    padding: 2em 0;

    .row {
        padding: 0;
    }
}

// Examples of grid extensions
.semantic-row {
    padding: 2em 0;
    @include grid-row();
}

.first-column {
    @include grid-col(3, $push: 6, $mobile-cols: 1);
}

.middle-column {
    @include grid-col(6, $pull: 3, $mobile-cols: 1);
}

.last-column {
    @include grid-col(3, $mobile-cols: 2);
}

.centered {
    text-align: center;
}

.block {
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #eee;

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}