@charset "UTF-8";

@import "grid-it";

body {
    font: 100%/1.5 "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: solid 1px #ccc;
    background-color: #eee;

    .row {
        padding: 0;
    }
}

footer {
    text-align: center;
    font-size: 0.625em;
    padding: 1em 0;
}

.dark {
    height: 2em;
    color: #fff;
    background-color: #333;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
}

h2, h3, h4 {
    margin: 0 0 0.5em;
}

p {
    margin: 1em 0;
}

.row, .extended-row {  // usually you wouldn't style based on .row but a custom class name
    border-bottom: solid 1px #ccc;
    padding: 2em 0;

    .row {
        padding: 0;
    }

    &:last-child {
        border-bottom: none;
    }
}

// Examples of grid extensions
.extended-row {
    @include grid-row;
}

.extended-col {
    &.first {
        @include grid-col(3, $push: 6);
        @include grid-mobile(1);
    }

    &.middle {
        @include grid-col(6, $pull: 3);
        @include grid-mobile(1);
    }

    &.last {
        @include grid-col(3);
        @include grid-mobile(2);
    }
}

.centered {
    text-align: center;
}

.block {
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #eee;

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}

// Example of base font size change on media query
@media only screen and (min-width: 80em) {
    body {
        font-size: 125%;
    }
}

@media only screen and (max-width: 30em) {
    body {
        font-size: 87.5%;
    }
}