@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  padding: 0 1em; }

.row {
  display: block;
  clear: both;
  width: auto;
  margin: 0 -0.5em;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col, .cols {
  display: block;
  position: relative;
  padding: 0 0.5em;
  float: none;
  width: auto; }

.mobile-row {
  margin: 0 -0.5em;
  *zoom: 1; }
  .mobile-row:before, .mobile-row:after {
    content: " ";
    display: table; }
  .mobile-row:after {
    clear: both; }

.mobile-one {
  width: 25%;
  float: left;
  padding: 0 0.5em; }

.mobile-two {
  width: 50%;
  float: left;
  padding: 0 0.5em; }

.mobile-three {
  width: 75%;
  float: left;
  padding: 0 0.5em; }

.mobile-four {
  width: 100%;
  float: left;
  padding: 0 0.5em; }

.mobile-offset-1 {
  margin-left: 25%; }

.mobile-push-1 {
  left: 25%; }

.mobile-pull-1 {
  right: 25%; }

.mobile-offset-2 {
  margin-left: 50%; }

.mobile-push-2 {
  left: 50%; }

.mobile-pull-2 {
  right: 50%; }

.mobile-offset-3 {
  margin-left: 75%; }

.mobile-push-3 {
  left: 75%; }

.mobile-pull-3 {
  right: 75%; }

.mobile-hide {
  display: none !important; }

@media only screen and (min-width: 47em) {
  .mobile-show {
    display: none !important; }

  .mobile-hide {
    display: inherit !important; }

  .mobile-row {
    margin: auto; }
    .mobile-row:before, .mobile-row:after {
      display: none;
      clear: none; }

  .container {
    margin: 0 auto;
    width: 90em;
    max-width: 85%;
    padding: 0; }

  .row.half-gutter {
    margin: 0 -0.25em; }
    .row.half-gutter .col, .row.half-gutter .cols {
      padding: 0 0.25em; }
  .row.collapsed {
    margin: 0; }
    .row.collapsed .col, .row.collapsed .cols {
      padding: 0; }

  .col, .cols {
    float: left; }
    .col.centered, .cols.centered {
      float: none;
      margin: 0 auto; }

  .one {
    width: 8.33333%; }

  .two {
    width: 16.66667%; }

  .three {
    width: 25%; }

  .four {
    width: 33.33333%; }

  .five {
    width: 41.66667%; }

  .six {
    width: 50%; }

  .seven {
    width: 58.33333%; }

  .eight {
    width: 66.66667%; }

  .nine {
    width: 75%; }

  .ten {
    width: 83.33333%; }

  .eleven {
    width: 91.66667%; }

  .twelve {
    width: 100%; }

  .offset-1 {
    margin-left: 8.33333%; }

  .push-1 {
    left: 8.33333%; }

  .pull-1 {
    right: 8.33333%; }

  .offset-2 {
    margin-left: 16.66667%; }

  .push-2 {
    left: 16.66667%; }

  .pull-2 {
    right: 16.66667%; }

  .offset-3 {
    margin-left: 25%; }

  .push-3 {
    left: 25%; }

  .pull-3 {
    right: 25%; }

  .offset-4 {
    margin-left: 33.33333%; }

  .push-4 {
    left: 33.33333%; }

  .pull-4 {
    right: 33.33333%; }

  .offset-5 {
    margin-left: 41.66667%; }

  .push-5 {
    left: 41.66667%; }

  .pull-5 {
    right: 41.66667%; }

  .offset-6 {
    margin-left: 50%; }

  .push-6 {
    left: 50%; }

  .pull-6 {
    right: 50%; }

  .offset-7 {
    margin-left: 58.33333%; }

  .push-7 {
    left: 58.33333%; }

  .pull-7 {
    right: 58.33333%; }

  .offset-8 {
    margin-left: 66.66667%; }

  .push-8 {
    left: 66.66667%; }

  .pull-8 {
    right: 66.66667%; }

  .offset-9 {
    margin-left: 75%; }

  .push-9 {
    left: 75%; }

  .pull-9 {
    right: 75%; }

  .offset-10 {
    margin-left: 83.33333%; }

  .push-10 {
    left: 83.33333%; }

  .pull-10 {
    right: 83.33333%; }

  .offset-11 {
    margin-left: 91.66667%; }

  .push-11 {
    left: 91.66667%; }

  .pull-11 {
    right: 91.66667%; } }
body {
  font: 87.5%/1.5 "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  color: #336699; }

h1 {
  font-size: 3.143em; }

h2 {
  font-size: 2.618em; }

h3 {
  font-size: 1.942em; }

h4 {
  font-size: 1.618em; }

h5 {
  font-size: 1.201em; }

h6 {
  font-size: 1em; }

header {
  border-bottom: solid 2px #33cccc;
  text-align: center;
  text-shadow: 1px 1px 0 black;
  background-color: #336699; }
  header hgroup {
    padding: 3em 0; }
  header h1, header h5 {
    color: #fff;
    margin: 0; }
  header .row {
    padding: 0; }

section {
  margin-top: 3em !important;
  margin-bottom: 3em !important; }

footer {
  text-align: center;
  font-size: 0.625em;
  padding: 1em 0;
  color: #fff;
  background-color: #336699; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #33cccc;
  margin: 1em 0;
  padding: 0; }

.dark {
  min-height: 2em;
  color: #fff;
  background-color: #00406e; }

p {
  margin: 1em 0; }

.row {
  padding: 2em 0; }
  .row .row {
    padding: 0; }

.semantic-row {
  padding: 2em 0;
  display: block;
  clear: both;
  width: auto;
  margin: 0 -0.5em;
  *zoom: 1; }
  .semantic-row:before, .semantic-row:after {
    content: " ";
    display: table; }
  .semantic-row:after {
    clear: both; }

.first-column {
  display: block;
  position: relative;
  padding: 0 0.5em;
  float: left;
  width: 25%; }
  @media only screen and (min-width: 47em) {
    .first-column {
      left: 50%;
      float: left;
      width: 25%; } }

.middle-column {
  display: block;
  position: relative;
  padding: 0 0.5em;
  float: left;
  width: 25%; }
  @media only screen and (min-width: 47em) {
    .middle-column {
      right: 25%;
      float: left;
      width: 50%; } }

.last-column {
  display: block;
  position: relative;
  padding: 0 0.5em;
  float: left;
  width: 50%; }
  @media only screen and (min-width: 47em) {
    .last-column {
      float: left;
      width: 25%; } }

.centered {
  text-align: center; }

.block {
  margin-bottom: 1em;
  border-radius: 0.5em;
  padding: 1em;
  background-color: #eee; }
  .block :first-child {
    margin-top: 0; }
  .block :last-child {
    margin-bottom: 0; }
